services:
  postgres_db:
    container_name: devsync-postgres
    image: postgres
    environment:
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_USER=${DB_USER}
      - PGDATA=/data/postgres
    ports:
      - "5432:5432"
    volumes:
      - db:/data/postgres
    networks:
      - db


volumes:
  db:

networks:
  db:
    driver: bridge
    